ExpenseCategorizer.Util/Schema/Category.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="categories" type="CategoriesType"/>
  
  <xs:complexType name="CategoriesType">
    <xs:sequence>
      <xs:element name="category" type="CategoryType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CategoryType">
    <xs:sequence>
      <xs:element name="input" type="xs:string" minOccurs="1" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attribute name="name" type="xs:string"/>
  </xs:complexType>

</xs:schema>
